@import "variables";

@mixin contentDefaultHeight($remove-height) {
  display: block;
  overflow: auto;
  background-color: whitesmoke;
  height: calc(100vh - #{$mat-toolbar-height + $remove-height});

  @media (max-width: 599px) {
    height: calc(100vh - #{$mat-toolbar-height-mobile + $remove-height});
  }


  //&:hover {
  //  &::-webkit-scrollbar-thumb {
  //    visibility: visible;
  //  }
  //}
  //&::-webkit-scrollbar-thumb {
  //  visibility: hidden;
  //}
  //&::-webkit-scrollbar {
  //  -webkit-appearance: none !important;
  //  width: 5px;
  //  background-color: transparent;
  //  //background-color: blue;
  //  position: absolute;
  //}
  //&::-webkit-scrollbar-track {
  //  background-color: transparent;
  //}
  //&::-webkit-scrollbar-thumb {
  //  //background: red;
  //  background-color: #ccc;
  //  border-radius: 80px;
  //}
  //&::-webkit-resizer,
  //&::-webkit-scrollbar-button,
  //&::-webkit-scrollbar-corner {display:none}
}

@mixin MQ-max($widthMQ) {
  @media (max-width: $widthMQ) {
    @content;
  }
}

@mixin MQ-min($widthMQ) {
  @media (min-width: $widthMQ) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: 1920px) and (max-width: 5000px) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}

@mixin md() {
  @media (min-width: 960px) and (max-width: 1279px) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}

@mixin xs() {
  @media (min-width: 0px) and (max-width: 599px) {
    @content;
  }
}


@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }


  @-o-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
