@import '../../../node_modules/@angular/material/theming';

@include mat-core();

$vp-blue: (
        50: #7da6e7,
        100: #4d8cf1,
        200: #467fda,
        300: #3a6cbd,
        400: #3a6cbd,
        500: #3460a7,
        600: #2e5696,
        700: #2b4e88,
        800: #254577,
        900: #213d6b,
        A100: #82b1ff,
        A200: #448aff,
        A400: #2979ff,
        A700: #2962ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

// TODO: SET COLORS BEYOND 500
$vp-teal: (
        50: #7da6e7,
        100: #4d8cf1,
        200: #467fda,
        300: #3a6cbd,
        400: #3a6cbd,
        500: #35B4B1,
        600: #2e5696,
        700: #2b4e88,
        800: #254577,
        900: #213d6b,
        A100: #82b1ff,
        A200: #448aff,
        A400: #2979ff,
        A700: #2962ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$vp-web-primary: mat-palette($vp-blue);
$vp-web-accent: mat-palette($vp-teal);
$vp-web-theme: mat-light-theme($vp-web-primary, $vp-web-accent);
@include angular-material-theme($vp-web-theme);
