@include keyframes(pulse) {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, .4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@include keyframes(rotation) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@include keyframes(flash) {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
